*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  display: flex;
}

.c-left{
  width: 20%;
  height: 100vh;
}

.c-mid{
  width: 50%;
  height: 100vh;
}

.c-right{
  width: 30%;
  height: 100vh;
}